<h1 class='main-header'>About me</h1>

<div class="sections">

  <strong>
  Name:
  </strong>
  <%="#{@theName}"%>
  <br>
  <strong>
  Company:
  </strong>
  <%="#{@theCompany}"%>
  <br>
  <strong>
  ID:
  </strong>
  <%="#{@theID}"%>
</div>
<hr>
<div class="">
  Name:
  </strong>
  <%="#{@theName}"%>
  <br>
  <strong>
  Company:
  </strong>
  <%="#{@theCompany}"%>
  <br>
  <strong>
  ID:
  </strong>
  <%="#{@theID}"%>
</div>
<hr>
<div class="">
  Name:
  </strong>
  <%="#{@theName}"%>
  <br>
  <strong>
  Company:
  </strong>
  <%="#{@theCompany}"%>
  <br>
  <strong>
  ID:
  </strong>
  <%="#{@theID}"%>
</div>
