<h1 class='main-header'>About me</h1>
<section>
  <div class="profile">
    Name:

    ID:

    Color:

    City:

    Fact:

  </div>
  <img class="myPicture" src="joan.jpeg" alt="">
</section>

<section class='row friends-grid'>
  <div class="sections col-sm">
    <img src='https://randomuser.me/api/portraits/men/<%="#{@randomPic}"%>.jpg'>
    <br>
    Name: <%="#{@first}"%>
    <br>
    Company: <%="#{@theCompany}"%>
    <br>
    ID: <%="#{@theID}"%>
  </div>

  <div class="col-sm">
  <img src='https://randomuser.me/api/portraits/women/<%="#{@randomPic}"%>.jpg'>
  <br>
    Name:
    <%="#{@second}"%>
    <br>
    Company:
    <%="#{@theCompany}"%>
    <br>
    ID:
    <%="#{@theID}"%>
  </div>
  <div class="col-sm">
    <img src='https://randomuser.me/api/portraits/men/<%="#{@randomPic2}"%>.jpg'>
    <br>
    Name:
    <%="#{@third}"%>
    <br>
    Company:
    <%="#{@theCompany}"%>
    <br>
    ID:
    <%="#{@theID}"%>
  </div>
</section>
<br>
<section class='row friends-grid'>
  <div class="col-sm">
    <img src='https://randomuser.me/api/portraits/women/<%="#{@randomPic2}"%>.jpg'>
    <br>
    Name:
    <%="#{@four}"%>
    <br>
    Company:

    <%="#{@theCompany}"%>
    <br>

    ID:

    <%="#{@theID}"%>
  </div>


  <div class="col-sm">
    <img src='https://randomuser.me/api/portraits/men/<%="#{@randomPic3}"%>.jpg'>
    <br>
    Name:

    <%="#{@fifth}"%>
    <br>

    Company:

    <%="#{@theCompany}"%>
    <br>

    ID:

    <%="#{@theID}"%>
  </div>

  <div class="col-sm">
    <img src='https://randomuser.me/api/portraits/women/<%="#{@randomPic3}"%>.jpg'>
    <br>
    Name:

    <%="#{@six}"%>
    <br>

    Company:

    <%="#{@theCompany}"%>
    <br>

    ID:

    <%="#{@theID}"%>
  </div>
</section>
