<h1 class='main-header'>About me</h1>

<section class='friends-grid'>

  <div class="sections">
    <img src='https://randomuser.me/api/portraits/men/<%="#{@randomPic}"%>.jpg'>
    <br>
    Name: <%="#{@first}"%>
    <br>
    Company: <%="#{@theCompany}"%>
    <br>
    ID: <%="#{@theID}"%>
  </div>

  <hr>

  <div class="">
  <img src='https://randomuser.me/api/portraits/women/<%="#{@randomPic}"%>.jpg'>
  <br>
    Name:
    <%="#{@second}"%>

    <br>

    Company:

    <%="#{@theCompany}"%>
    <br>

    ID:

    <%="#{@theID}"%>
  </div>

  <hr>

  <div class="">
    <img src='https://randomuser.me/api/portraits/men/<%="#{@randomPic2}"%>.jpg'>
    Name:

    <%="#{@theName}"%>
    <br>

    Company:

    <%="#{@theCompany}"%>
    <br>

    ID:

    <%="#{@theID}"%>
  </div>
<hr>
  <div class="">
    <img src='https://randomuser.me/api/portraits/women/<%="#{@randomPic2}"%>.jpg'>
    Name:

    <%="#{@theName}"%>
    <br>

    Company:

    <%="#{@theCompany}"%>
    <br>

    ID:

    <%="#{@theID}"%>
  </div>
<hr>
  <div class="">
    <img src='https://randomuser.me/api/portraits/men/<%="#{@randomPic3}"%>.jpg'>
    Name:

    <%="#{@theName}"%>
    <br>

    Company:

    <%="#{@theCompany}"%>
    <br>

    ID:

    <%="#{@theID}"%>
  </div>
<hr>
  <div class="">
    <img src='https://randomuser.me/api/portraits/women/<%="#{@randomPic3}"%>.jpg'>
    Name:

    <%="#{@theName}"%>
    <br>

    Company:

    <%="#{@theCompany}"%>
    <br>

    ID:

    <%="#{@theID}"%>
  </div>

</section>
