<h1 class='main-header'>About me</h1>

<div class="sections">

  <img src="https://placeimg.com/180/180/any">

  Name: <%="#{@first}"%>
  <br>
  Company: <%="#{@theCompany}"%>
  <br>
  ID: <%="#{@theID}"%>
</div>

<hr>

<div class="">

  Name:
  <%="#{@second}"%>

  <br>

  Company:

  <%="#{@theCompany}"%>
  <br>

  ID:

  <%="#{@theID}"%>
</div>

<hr>

<div class="">
  Name:

  <%="#{@theName}"%>
  <br>

  Company:

  <%="#{@theCompany}"%>
  <br>

  ID:

  <%="#{@theID}"%>
</div>
